.wrapper__main_destinations {
  display: flex;
  flex-direction: column;
  margin: $section_margin;
  @media screen and(max-width: $small) {
    margin: $section_margin-small;
  }
  .wrapper__main_destinations_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: $header_margin;
    span {
      @include poppins($fw: 600, $fz: 1.8rem, $lh: 1);
      text-align: center;
      text-transform: uppercase;
      color: #5e6282;

      @media screen and (max-width: $large) {
        @include poppins($fw: 600, $fz: 1.3rem, $lh: 1);
      }
    }
    h3 {
      @include volkhov;
      text-align: center;
      text-transform: capitalize;
      color: #14183e;

      @media screen and (max-width: $large) {
        @include volkhov($fw: 700, $fz: 4rem, $lh: 1.3);
      }
    }
  }
  .wrapper__main_destinations_content {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;

    .destination-card {
      display: flex;
      flex-direction: column;
      flex-basis: 20em;
      @include white-container($p: 0, $g: 0, $br: 24px);
      transition: all ease-out 0.4s;

      &:hover {
        transition: all ease-in 0.4s;
        @include white-container($p: 0, $g: 0, $br: 24px, $coef: 4);
        scale: 1.05;
      }

      @media screen and (max-width: $midsize) {
        flex-basis: 15em;
      }

      .destination-card__img {
        display: flex;
        height: 25em;

        @media screen and (max-width: $small) {
          height: 15em;
        }
        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          object-position: top;
          border-radius: 24px 24px 0 0;

          @media screen and (min-width: $large) {
            width: 100%;
          }
        }
      }
      .destination-card__content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em 1em;
        background-color: #ffffff;
        border-radius: 0 0 24px 24px;
        .destination-card__content_title {
          display: flex;
          justify-content: space-between;
          gap: 2em;
          @include poppins($fw: 500, $fz: 1.8rem, $lh: 1.2);
        }
        .destination-card__content_duration {
          display: flex;
          justify-content: flex-start;
          gap: 0.5em;
          @include poppins($fw: 500, $fz: 1.8rem, $lh: 1);
        }
      }
    }
  }
}
