@import "variables";

@mixin decor__plane($x_coord: 0, $y_coord: 0) {
  position: absolute;
  top: $y_coord;
  right: $x_coord;

  @media screen and (max-width: $large) {
    right: calc($x_coord/2);
    img {
      width: 70%;
      height: auto;
    }
  }

  @media screen and (max-width: $medium) {
    right: calc($x_coord/3);
    img {
      width: 60%;
      height: auto;
    }
  }
  @media screen and (max-width: $small) {
    right: calc($x_coord/10);
    img {
      width: 50%;
      height: auto;
    }
  }

  &:hover {
    animation: plane-animation 3s linear 0s;
  }
}

body {
  position: relative;
  .yellow-bulb {
    position: absolute;
    top: -2em;
    right: 0;
    z-index: -1;

    @media screen and (max-width: $medium) {
      top: -15em;
    }
    @media screen and (max-width: $small) {
      top: -25em;
    }
  }
}

.wrapper__main_services {
  position: relative;
  .decor-crosses {
    position: absolute;

    top: 0;
    right: -5%;

    z-index: -1;
  }
}

.wrapper__main_newsletter {
  position: relative;

  .decor-crosses-newsletter {
    position: absolute;

    bottom: calc(-150px / 2);
    right: calc(-170px / 2);

    @media screen and (max-width: $medium) {
      display: none;
    }
  }
}

.destination-card {
  position: relative;
  .decor-wire {
    position: absolute;
    right: -3.5em;
    top: 20%;
    z-index: -1;
  }
}

.wrapper__main_about {
  position: relative;
  .decor-plane {
    @include decor__plane($x_coord: 25em, $y_coord: 0);
  }
  .decor-plane__s {
    @include decor__plane($x_coord: 0em, $y_coord: 5em);
    transform: rotate(-15deg);

    @media screen and (max-width: $large) {
      @include decor__plane($x_coord: 0em, $y_coord: 10em);
    }
  }
}

@keyframes plane-animation {
  0% {
    transform: translate(0, 0) rotate(-5deg);
  }
  //   2% {
  //     transform: translate(0.5em, -0.5em);
  //   }
  //   2% {
  //     transform: translate(1em, -1em) rotate(-10deg);
  //   }
  4% {
    transform: translate(2em, -2em) rotate(-15deg);
  }
  8% {
    transform: translate(4em, -4em) rotate(-30deg);
  }
  12% {
    transform: translate(6em, -6em) rotate(-45deg);
  }
  16% {
    transform: translate(8em, -8em) rotate(-60deg);
  }
  20% {
    transform: translate(10em, -10em) rotate(-75deg);
  }
  //   22% {
  //     transform: translate(11em, -11em) rotate(-80deg);
  //   }
  //   23% {
  //     transform: translate(11.5em, -11.5em) rotate(-85deg);
  //   }
  //   24% {
  //     transform: translate(12em, -12em) rotate(-90deg);
  //   }
  //   25% {
  //     transform: translate(11.5em, -12.5em) rotate(-95deg);
  //   }
  //   26% {
  //     transform: translate(11em, -13em) rotate(-100deg);
  //   }
  28% {
    transform: translate(10em, -14em) rotate(-105deg);
  }
  32% {
    transform: translate(8em, -16em) rotate(-120deg);
  }
  36% {
    transform: translate(6em, -18em) rotate(-135deg);
  }
  40% {
    transform: translate(4em, -20em) rotate(-150deg);
  }
  44% {
    transform: translate(2em, -22em) rotate(-155deg);
  }
  //   46% {
  //     transform: translate(1em, -23em) rotate(-160deg);
  //   }
  //   47% {
  //     transform: translate(0.5em, -23.5em) rotate(-180deg);
  //   }
  //   48% {
  //     transform: translate(0em, -24em) rotate(-180deg);
  //   }
  //   49% {
  //     transform: translate(-0.5em, -23.5em) rotate(-180deg);
  //   }
  //   50% {
  //     transform: translate(-1em, -23em) rotate(-190deg);
  //   }
  52% {
    transform: translate(-2em, -22em) rotate(-195deg);
  }
  56% {
    transform: translate(-4em, -20em) rotate(-210deg);
  }
  60% {
    transform: translate(-6em, -18em) rotate(-225deg);
  }
  64% {
    transform: translate(-8em, -16em) rotate(-240deg);
  }
  68% {
    transform: translate(-10em, -14em) rotate(-255deg);
  }
  //   70% {
  //     transform: translate(-11em, -13em) rotate(-260deg);
  //   }
  //   71% {
  //     transform: translate(-11.5em, -12.5em) rotate(-270deg);
  //   }
  //   72% {
  //     transform: translate(-12em, -12em) rotate(-270deg);
  //   }
  //   73% {
  //     transform: translate(-11.5em, -11.5em) rotate(-270deg);
  //   }
  //   74% {
  //     transform: translate(-11em, -11em) rotate(-280deg);
  //   }
  76% {
    transform: translate(-10em, -10em) rotate(-285deg);
  }
  80% {
    transform: translate(-8em, -8em) rotate(-300deg);
  }
  84% {
    transform: translate(-6em, -6em) rotate(-315deg);
  }
  88% {
    transform: translate(-4em, -4em) rotate(-330deg);
  }
  92% {
    transform: translate(-2em, -2em) rotate(-345deg);
  }
  96% {
    transform: translate(-1em, -1em) rotate(-350deg);
  }
  //   97% {
  //     transform: translate(-0.5em, -0.5em) rotate(-355deg);
  //   }
  //   98% {
  //     transform: translate(-0.2em, -0.2em) rotate(-360deg);
  //   }
  100% {
    transform: translate(0, 0) rotate(-355deg);
  }
}
