@use "./variables" as vars;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Yellowtail&display=swap");

//Fonts
@mixin google-sans($fw: 400, $fz: 1.4rem, $lh: 1.3) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin roboto($fw: 400, $fz: 1.4rem, $lh: 1.3) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

@mixin yellowtail($fw: 400, $fz: 1.4rem, $lh: 1.3) {
  font-family: "Yellowtail", sans-serif;
  font-style: normal;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

// Paragraphs
@mixin p($color: vars.$dark_grey, $koef: 1) {
  p {
    font-family: "Open Sans";
    font-size: 1.8rem * $koef;
    font-weight: 400;
    line-height: 1.5;
    color: $color;
    @include lg {
      font-size: 1.4rem * $koef;
    }
    @include sm {
      text-align: center;
    }
  }
}

//Italic span
@mixin span_i($color: vars.$green, $koef: 1) {
  span {
    color: $color;
    @include yellowtail($fw: 400, $fz: 3.6rem * $koef, $lh: 1.2);
    @include lg {
      font-size: 2.6rem * $koef;
    }
    @include sm {
      text-align: center;
    }
  }
}

//Section headings
@mixin h2($color: vars.$dark_blue, $koef: 1) {
  h2 {
    max-width: 80%;
    color: $color;
    @include roboto($fw: 800, $fz: 5rem * $koef, $lh: 1.2);
    @include lg {
      font-size: 3rem * $koef;
      max-width: 100%;
    }
    @include md {
      font-size: 2.5rem * $koef;
    }
    @include sm {
      text-align: center;
    }
  }
}

@mixin h3($color: vars.$dark_blue, $koef: 1) {
  h3 {
    color: $color;
    @include roboto($fw: 800, $fz: 2.5rem * $koef, $lh: 1.2);
    @include lg {
      font-size: 2rem * $koef;
    }
    @include md {
      font-size: 1.6rem * $koef;
    }
    @include sm {
      text-align: center;
    }
  }
}

// Image Container
@mixin imgCont($flex: 1, $rad: 0) {
  .imgContainer {
    display: flex;
    flex: $flex;
    border-radius: $rad;
    img {
      max-width: 100%;
      object-fit: cover;
      border-radius: $rad;
    }
  }
}

// List
@mixin ol-li {
  ol {
    color: vars.$dark_grey;
    li::marker {
      font-weight: bold;
    }
  }
}

//Breakpoints
@mixin xl {
  @media (max-width: #{vars.$screen-xl}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{vars.$screen-lg}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{vars.$screen-md}) {
    @content;
  }
}
@mixin sm {
  @media (max-width: #{vars.$screen-sm}) {
    @content;
  }
}
@mixin xs {
  @media (max-width: #{vars.$screen-xs}) {
    @content;
  }
}
