// Colors
$dark_blue: #274c5b;
$dark_grey: #525c60;
$medium_grey: #d4d4d4;
$light_grey: #f9f8f8;
$green: #7eb693;
$light_green: #eff6f1;
$yellow: #efd372;
$biege: rgba(253, 176, 45, 0.16);

// Breakpoints
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
