@use "../../../variables" as vars;
@use "../../../mixins" as mx;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 5em;
  @include mx.sm {
    padding: 2em 2em;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include mx.h2;
    h2 {
      width: 50%;
    }
    @include mx.sm {
      flex-direction: column;
      align-items: unset;
      gap: 2em;
      h2 {
        width: 100%;
      }
    }
  }
  .newsWrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 2em;
    @include mx.md {
      flex-direction: column;
      gap: 5em;
    }
    .newsCardWrapper {
      position: relative;
      display: flex;
      @include mx.imgCont($rad: 3rem);
      min-height: 40em;
      @include mx.md {
        min-height: 30em;
      }
      .date {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        margin: 2em;
        padding: 1em;
        @include mx.md {
          padding: 0.2em;
        }
        height: 4em;
        width: 4em;
        border-radius: 50%;
        background-color: #fff;
        @include mx.h3;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        position: absolute;
        bottom: -5em;
        margin: 2em;
        padding: 2em 3em;
        border-radius: 3rem;
        background-color: #fff;
        @include mx.h3;
        @include mx.p;
        @include mx.sm {
          margin: 1em;
          padding: 1em 2em;
          align-items: unset;
        }
        .postedBy {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5em;
          @include mx.p;
          @include mx.sm {
            justify-content: center;
          }
        }
        .newsContent {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          @include mx.h3;
          @include mx.p;
        }
      }
    }
  }
}
